.addblog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 50%;
  margin-top: -100%;
  margin-left: -100%;
  backdrop-filter: brightness(.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 
    margin .8s ease-in-out, 
    border-radius 1.2s ease-in-out;
}

.addblog.active {
  border-radius: 0;
  margin-top: 0;
  margin-left: 0;
}

.addblog .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  width: 50%;
  padding: 1vh 1vw;
}

.addblog .form span.title {
  color: var(--primary-color);
  font-size: 36px;
  font-family: 'Cookie';
}

.addblog .form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 1vh;
}

.addblog .form div span {
  font-family: "Handlee";
  font-size: 18px;
  font-weight: 600;
  margin-bottom: .4vh;
}

.addblog .form div input, .addblog .form div textarea {
  border: 1px solid black;
  font-family: "Handlee";
  font-size: 16px;
  padding: 1vh .6vw;
  transition: border-radius .3s ease-in-out;
}

.addblog .form div input:focus, .addblog .form div textarea:focus {
  outline: none;
  border-radius: 5px;
}

.addblog .form div textarea {
  resize: vertical;
}

.addblog .form button {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 15px;
  width: 100%;
  margin-block: .6vh;
  padding: 1vh 1vw;
}

@media screen and (max-width: 768px) {
  .addblog .form {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .addblog .form{
    width: 96%;
  }
}